.coin_page {
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}

.coin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2fffe5;
  border-radius: 10px;
  padding: 4rem;
  width: 400px;
}

.coin_image {
  margin-bottom: 1rem;
}

.coin_name {
  margin-bottom: 1rem;
}

.coin_ticker {
  margin-bottom: 1rem;
}

.coin_current {
  margin-bottom: 1rem;
  font-size: 2rem;
}
